body{
    background-color: #c8ffbe;
    font-family: 'Courier New', Courier, monospace;
    color: #4d1e44;
}

h1 a{
    text-decoration: none;
    color: #623b5a;
}

ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #89608e;
}

ol{
    list-style-type: upper-roman;
}